<button mat-raised-button color="primary" (click)="getLocations()" [disabled]="disabled">Get Data</button>
{{locations}}
<br><br>
<button mat-raised-button color="primary" (click)="createPost()" [disabled]="disabled">Create Post</button>
{{ newPost }}
<H1>Для визуализации работы откройте console</H1>
<hr>
<a mat-list-item href="https://metanit.com/web/angular2/6.1.php" target="_blank">
  <button mat-raised-button color="warn">metanit</button>
</a>
<br>
<a mat-list-item href="https://webdraftt.com/tutorial/angular-http-client" target="_blank">
  <button mat-raised-button color="warn">webdraftt</button>
</a>
<hr>
